<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./dist/css/usercss.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="./dist/js/userjs.js"></script>
    <title>數據圖表分析
    </title>
  </head>
  <body>
    <div class="main-loading">
      <div class="content"><span class="logo" style="background: url(dist/images/headlogo.svg);"></span></div>
    </div>
    <div class="container-fluid">
      <div class="row flex">
        <header class="col-xs-12 head">
          <div class="row flex">
            <!-- Logo-->
            <aside class="col-sm-3 col-xs-12 side"><span class="logo" style="background: url(dist/images/headlogo.svg);"></span></aside>
            <!-- 使用者區塊-->
            <main class="col-sm-9 nav">
              <div class="pull-right">
                <!-- User name--><span class="name">Hello Leona!</span>
                <!-- User icon--><span class="icon" style="background: url(dist/images/usericon.svg);"></span>
              </div>
            </main>
          </div>
        </header>
        <!-- 左側列表-->
        <aside class="col-sm-3 col-xs-3 side panel-group" id="accordion">
          <nav class="panel">
            <!-- 投資策略模型-->
            <p><a class="collapse-href" href="#nav-1" data-toggle="collapse" data-parent="#accordion"><span class="icon" style="background:url(dist/images/icon-side-1.svg);"></span><span>投資策略模型</span><span class="arrow"></span></a></p>
            <ul class="collapse" id="nav-1">
              <li><a href="index.html">巴菲特投資模型</a></li>
              <li><a href="peterLynch.html">彼得林區投資模型</a></li>
              <li><a href="snowball.html">雪球存股投資模型</a></li>
              <li><a href="customized.html">自訂投資策略模型</a></li>
            </ul>
          </nav>
          <nav class="panel">
            <!-- AI預測分析-->
            <p><a class="collapse-href" href="#nav-2" data-toggle="collapse" data-parent="#accordion"><span class="icon" style="background:url(dist/images/icon-side-2.svg);"></span><span>AI預測分析</span><span class="arrow"></span></a></p>
            <ul class="collapse" id="nav-2">
              <li><a href="aiAnalysis.html">AlphaStock AI分析</a></li>
              <li><a href="customizedAiAnalysis.html">自訂AI分析</a></li>
            </ul>
          </nav>
          <nav class="panel">
            <!-- 數據圖表分析-->
            <p><a class="collapse-href" href="dataAnalysis.html"><span class="icon" style="background:url(dist/images/icon-side-3.svg);"></span><span>數據圖表分析</span></a></p>
            <!-- 收合按鈕-->
            <p class="toggle-side"><a href="javascript: void(0)" style="background:url(dist/images/arrow.svg);"></a></p>
          </nav>
        </aside>
        <!-- 右側內文-->
        <article class="col-sm-9 col-xs-12 main">
          <div class="purple" id="dataAnalysis">
            <div class="notify notify" :class="loading ? 'show-notify' : 'hide-notify'">{{notifyMsg}}</div>
            <div class="row">
              <!-- Banner-->
              <div class="col-xs-12 banner cusAI dataAnalysis">
                <div class="content" style="background: url(dist/images/dataAnalysis-bg.svg);">
                  <div class="title">
                    <h2 class="text-purple">數據圖表分析</h2>
                    <h3 class="text-grey">Data Analysis</h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- 內容-->
            <div class="row wrapper">
              <aside class="col-sm-4 col-xs-12">
                <!-- 設定歷史數據分析條件-->
                <section class="section configuration">
                  <header class="head bg-color">設定歷史數據分析條件</header>
                  <div class="content">
                    <!-- 產業類別-->
                    <div class="form-group">
                      <label class="title" for="category">產業類別</label>
                      <select class="form-control" id="category" name="category" v-model="analysisOpt.companyCategory">
                        <option v-for="(data, idx) in category" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 公司名稱-->
                    <div class="form-group">
                      <label class="title" for="company">公司名稱</label>
                      <select class="form-control" id="company" name="company" v-model="companySelect">
                        <option v-for="(data, idx) in companyInfo" :value="data['公司代號']" :key="idx">
                          {{data['公司代號']}}
                          {{data['公司名稱']}}
                        </option>
                      </select>
                    </div>
                    <!-- 數據類型-->
                    <div class="form-group">
                      <label class="title" for="reportType">數據類型</label>
                      <select class="form-control" id="reportType" name="reportType" v-model="analysisOpt.dataType">
                        <option v-for="(data, idx) in dataCategory" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 資料統計年度-->
                    <div class="form-group">
                      <label class="title" for="perYear">資料統計年度</label>
                      <select class="form-control" id="perYear" name="perYear" v-model="analysisOpt.durTime">
                        <option v-for="(data, idx) in durTimeOpts" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 指標類別-->
                    <div class="form-group">
                      <label class="title" for="targetType">指標類別</label>
                      <select class="form-control" id="targetType" name="targetType" v-model="analysisOpt.categoryIdx">
                        <option v-for="(data, idx) in indexCategory" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 項目-->
                    <div class="form-group">
                      <label class="title" for="rorType">項目<span class="unit">
                          ：
                          {{getUnit(analysisOpt.categoryItem)}}</span></label>
                      <select class="form-control" id="rorType" name="rorType" v-model="analysisOpt.categoryItem">
                        <option v-for="(data, idx) in itemCategory" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 資料型態 -->
                    <div class="form-group">
                      <label class="title" for="dataType">資料型態 <span class="unit">(單位%)</span></label>
                      <select class="form-control" id="dataType" name="dataType" v-model="analysisOpt.dataOption">
                        <option v-for="(data, idx) in dataOptionOpts" :value="data" :key="idx">{{data}}</option>
                      </select>
                    </div>
                    <!-- 起始日期-->
                    <div class="form-group">
                      <label class="title" for="startTime">起始日期</label>
                      <input class="form-control" id="startTime" name="startTime" type="date" v-model="analysisOpt.startTime"/>
                    </div>
                    <!-- 結束日期-->
                    <div class="form-group">
                      <label class="title" for="endTime">結束日期</label>
                      <input class="form-control" id="endTime" name="endTime" type="date" v-model="analysisOpt.endTime"/>
                    </div>
                    <!-- 輸入條件-->
                    <div class="btn-group">
                      <button class="btn submit-btn" @click="submit"><i class="fa fa-spinner fa-pulse fa-fw" v-if="loading"></i>輸入條件</button>
                      <button class="btn submit-btn" @click="clear">清除條件</button>
                    </div>
                  </div>
                </section>
              </aside>
              <main class="col-sm-8 col-xs-12">
                <!-- 圖表-->
                <section class="section configuration">
                  <header class="head bg-color">圖表</header>
                  <div class="data-analytic-content">
                    <div class="loading" v-if="loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    <div class="row flex legendLabel" v-if="chartData.length &gt; 0">
                      <!-- 名稱-->
                      <div class="col-sm-6 col-xs-12">
                        <p>{{analysisOpt.companyName}}{{analysisOpt.selectChart}}</p>
                      </div>
                      <!-- Legend-->
                      <div class="col-sm-6 col-xs-12">
                        <ul>
                          <li v-for="(key, idx) in legend" :key="idx"><span :style="`background: ${colorCategory[idx]}`"></span>{{key}}</li>
                        </ul>
                      </div>
                    </div>
                    <div id="chartContent"></div>
                  </div>
                </section>
                <!-- 備註-->
                <section class="section configuration">
                  <header class="head bg-color">備註</header>
                  <div class="content">
                    <ol>
                      <li>本系統適合之投資者為預計持有投資部位超過6個月者。</li>
                      <li>本系統所使用之股價資料為還原權值之股價。</li>
                      <li>股價資料為月平均價格。</li>
                      <li>每週六進行資料更新。</li>
                    </ol>
                  </div>
                </section>
              </main>
            </div>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>